@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-size: 0.875rem;
  background-color: var(--color-gray-50);
  color: var(--color-gray-900);
}
