@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-size: 0.875rem;
  background-color: var(--color-gray-50);
  color: var(--color-gray-900);
  @apply text-sm;
  @apply bg-gray-500;
  @apply text-gray-900;
}

@media (min-width: 768px) {
  .custom-grid-rows {
    grid-template-rows: repeat(8, 20vh);
  }
}
@media (min-width: 1280) {
  .custom-grid-rows {
    grid-template-rows: repeat(8, 7.5vh);
  }
}
